<%= form_with model: @workout, data: { controller: "workout-form"} do |form| %>
  <hr>
  <div>
  <%= form.label :date, "Date" %>
  <%= form.date_field :date %>
  </div>

  <div data-workout-form-target="exercises">
    <%= form.fields_for :exercises do |exercise_fields| %>
      <%= render "exercise_fields", f: exercise_fields %>
    <% end %>
  </div>

  <template data-workout-form-target="template">
    <%= form.fields_for :exercises, Exercise.new, child_index: "NEW_RECORD" do |exercise_fields| %>
      <%= render "exercise_fields", f: exercise_fields %>
    <% end %>
  </template>

  <div>
    <%= link_to "Add Lift", "#",
    data: { action: "click->workout-form#addExercise" } %>
  </div>

<div>
  <%= form.submit workout.new_record? ? "Create Workout" : "Update Workout" %>
</div>

<% end %>
