<%= form_with model: @workout, local: true do |form| %>
  <% if form.object.errors.any? %>
    <p class="error"><%= form.object.errors.full_messages.first %></p>
  <% end %>

<div>
  <%= form.label :date, "Date" %>
  <%= form.date_field :date %>
</div>

<%= form.fields_for :exercises do |exercise_fields| %>
  <div class="exercise-fields">
    <%= exercise_fields.label :name, "Lift" %>
    <%= exercise_fields.text_field :name %>
      <%= exercise_fields.label :work_sets_count, "Number of Sets" %>
      <%= exercise_fields.number_field :work_sets_count, value: 0, min: 0 %>
  </div>
<% end %>


<div>
  <%= form.submit "Save Workout" %>
</div>

<% end %>
