<%= form_with model: @workout, local: false, data: { controller: "workout-form"} do |form| %>
  <div>
  <%= form.label :date, "Date" %>
  <%= form.date_field :date %>
  </div>

  <%= form.fields_for :exercises do |exercise_fields| %>
    <div class="exercise-fields">
      <%= exercise_fields.label :name, "Lift" %>
      <%= exercise_fields.text_field :name, placeholder: "Enter lift name" %>

      <%= exercise_fields.fields_for :working_sets do |set_fields| %>
        <div class="set-fields">
          <%= set_fields.number_field :reps, min: 1, placeholder: "Reps" %>
          <%= set_fields.number_field :weight, placeholder: "Weight in kg" %>
        </div>
      <% end %>

      <%= link_to "Remove lift", "#", class: "remove-lift", data: { action: "click->workout-form#removeLift" } %>
    </div>
  <% end %>

  <div>
    <p>
    <%= link_to "Add Lift", "#", class: "add-lift", data: { action: "click->workout-form#addLift" } %>
    </p>
  </div>

  <div>
    <p>
    <%= form.submit workout.new_record? ? "Create Workout" : "Update Workout" %>
    </p>
  </div>

<% end %>
