<%= form_with model: @workout, local: true do |form| %>
  <div>
  <%= form.label :date, "Date" %>
  <%= form.date_field :date %>
  </div>

  <%= form.fields_for :exercises do |exercise_fields| %>
    <div class="exercise-fields">
      <%= exercise_fields.label :name, "Lift" %>
      <%= exercise_fields.text_field :name %>
    </div>
  <% end %>

  <div>
    <%= form.submit "Save Workout" %>
  </div>

<% end %>
