<h1><%= @workout.date %></h1>

<% @workout.exercises.each do |exercise|  %>
  <%= exercise.name %>
  <% exercise.working_sets.each do |set| %>
    <li>
      <%= set.reps %> reps @ <%= set.weight %> kg
    </li>
  <% end %>
<% end %>

<%= render "form", workout: @workout %>

<%= link_to "Back", workouts_path %>

<%= button_to "Delete", @workout, method: :delete, data: { turbo_confirm: "Are you sure?"} %>
